/* -----------------CSS reset----------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------ROOT----------------- */

:root {
  --clr-primary-bg: black;
  --clr-secondary-bg: rgb(32, 32, 32);
  --clr-bg-accent: rgb(80, 80, 80);

  --clr-font-primary: whitesmoke;
  --clr-font-accent: lightskyblue;
  --clr-font-dark: black;
  --clr-font-accent-2: lightblue;
}
/* -----------------APP----------------- */

body {
  scroll-behavior: smooth scroll;
  /* scroll-snap-type: y mandatory; */
  /* scroll-snap-align: start; */
}

.App {
  font-family: "arial", sans-serif;
  overflow-x: hidden;
  position: relative;
}

/* -----------------NAVBAR----------------- */

.navbar {
  display: flex;
  overflow: hidden;
  background: var(--clr-accent-bg);
  width: 100dvw;
  height: 5rem;
  padding-block: 1rem;
  z-index: 1000;
  position: static;
  padding-inline: 1rem;
}

.navbar a:hover:not(.logo) {
  color: var(--clr-font-accent);
  border-radius: 100px;
}

.nav-logo-left {
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex: 5;
  border-right: 3px solid var(--clr-font-accent);
}

.logo {
  text-decoration: none;
  color: var(--clr-font-accent);
  font-weight: 600;
}

.nav-items-right {
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(1vw + 1vh);
  margin-inline: 2rem;
}

.nav-items-right a {
  text-decoration: none;
  color: var(--clr-font-primary);
  font-weight: 400;
}

/* ----------------- NAV TABLET AND BELOW---------- */

.hamburger-wrapper {
  display: none;
}
#hamburger-icon {
  display: none;
}

.nav-mobile-wrapper-open,
.nav-mobile-wrapper-closed {
  display: none;
}

/* ----------------- MEDIA QUERIES---------- */

@media (max-width: 768px) {
  .navbar {
    height: 5rem;
  }
  .nav-items-right {
    display: none;
  }

  .nav-logo-left {
    display: flex;
    flex-grow: 1;
    font-size: 3rem;
  }

  .hamburger-wrapper {
    display: flex;
    width: 20svw;
    align-items: center;
    z-index: 100000;
    justify-content: center;
  }

  #hamburger-icon {
    display: flex;
    height: 2rem;
    width: 2rem;
    position: absolute;
    color: var(--clr-font-primary);
  }

  .nav-mobile-wrapper-open {
    color: var(--clr-font-primary);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 0;
    width: 15rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 0%, 0.192);
    backdrop-filter: blur(50px);
    z-index: 100;
    font-size: calc(2vw + 2vh);
  }

  .nav-mobile-wrapper-open a {
    text-decoration: none;
    color: var(--clr-font-primary);
  }
  .nav-mobile-wrapper-open a:focus {
    text-decoration: underline;
    color: var(--clr-font-primary);
  }
  .nav-mobile-wrapper-closed {
    display: none;
  }

  .nav-mobile-wrapper-open hr {
    width: 75%;
  }
}

/* -----------------HOME----------------- */

.home-wrapper {
  display: flex;
  height: calc(100svh - 5rem);
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-bg);
  flex-wrap: wrap;
  flex-shrink: 0;
}

.home-flex-1 {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}

.greeting {
  font-size: calc(3vw + 3vh);
  font-weight: 600;
}

.name {
  font-size: calc(5vw + 3vh);
}

.name strong {
  color: var(--clr-font-accent);
}

.description {
  min-width: 140px;
  max-width: 650px;
  line-height: 2rem;
  font-size: 1.25rem;
  padding-top: 1.25rem;
  text-justify: distribute-all-lines;
}

.description a {
  color: var(--clr-font-accent-2);
  text-decoration: none;
}

.description a:hover {
  color: var(--clr-font-accent);
}

.home-wrapper hr {
  margin-top: 1.25rem;
}

.cta {
  padding-block: 2rem;
  font-size: 1.5rem;
  display: flex;

  /* font-style: normal; */
}

.cta a {
  text-decoration: underline;
  color: var(--clr-font-accent);
}

.cta a:hover {
  color: var(--clr-font-primary);
}

.contact-links-wrapper {
  position: absolute;
  display: flex;
  justify-content: left;
  gap: 1.5rem;
  align-items: center;
  bottom: 0.5rem;
  right: 2rem;
}

.contact-links-wrapper a {
  color: var(--clr-font-primary);
}

.contact-links-wrapper a:hover {
  color: var(--clr-font-accent);
}

.contact-links-wrapper svg,
img {
  height: 2rem;
  width: 2rem;
}

.scroll-down-button {
  color: var(--clr-font-accent);
  margin-right: 1rem;
}

.scroll-down-button:hover > * {
  color: var(--clr-font-primary);
}

.headshot-wrapper img {
  display: flex;
  object-fit: cover;
  width: 2rem;
  height: 2rem;
}

/* -----------------PROJECTS----------------- */

.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100%;
  background-color: var(--clr-secondary-bg);
  position: relative;
  overflow: hidden;
}

.projects-title {
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: 6rem;
  text-transform: uppercase;
  width: min-content;
  line-height: 0.75;
  pointer-events: none;
  user-select: none;
}

/* -----------------ABOUT----------------- */

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  text-align: center;
  min-width: 240px;
  width: 100%;
  background-color: var(--clr-primary-bg);
  position: relative;
  overflow: hidden;
}

.about-title {
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 6rem;
  text-transform: uppercase;
  width: min-content;
  line-height: 0.75;
}

/* -----------------CONTACT----------------- */

.contact-full-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  text-align: center;
  min-width: 240px;
  width: 100%;
  background-color: var(--clr-secondary-bg);
  position: relative;
  overflow: hidden;
}

.contact-title {
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  line-height: 0.75;
  position: absolute;
  font-size: 6rem;
  text-transform: uppercase;
  width: min-content;
  line-height: 0.75;
  pointer-events: none;
  user-select: none;
}

.contact-links {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
  color: var(--clr-font-primary);
  background-color: var(--clr-primary-bg);
  outline: none;
  border: none;
  border: 3px solid var(--clr-font-accent);
  border-radius: 1rem;
  flex-basis: 100;
}

.social-link:hover {
  color: var(--clr-font-dark);
  background-color: var(--clr-font-accent);
  outline: none;
  border: none;
  border: 3px solid var(--clr-font-accent);
  cursor: pointer;
  font-weight: 600;
}

.contact-links a {
  text-decoration: none;
}

.social-link-hr {
  width: 35%;
  background-color: var(--clr-font-accent);
}

.social-link:hover > .social-link-hr {
  background-color: var(--clr-primary-bg);
}

/* -----------------FOOTER----------------- */

.footer-wrapper {
  height: 20svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-bg);
  color: var(--clr-font-primary);
}

.footer-content {
  font-size: 1.2rem;
}
.footer-content hr {
  margin: 2rem;
}
