/* -----------------CSS reset----------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------ROOT----------------- */

:root {
  --clr-primary-bg: rgba(0, 0, 0, 0.37);
  --clr-secondary-bg: rgba(32, 32, 32, 0.664);
  --clr-bg-accent: rgb(80, 80, 80);

  --clr-font-primary: whitesmoke;
  --clr-font-accent: rgb(135, 206, 250);
  --clr-font-dark: black;
  --clr-font-accent-2: lightblue;

  --glow: 0px 0px 6px #87cefa;
  /* --clr-primary-bg: rgb(53, 57, 65);
  --clr-secondary-bg: rgba(38, 40, 43, 0.637);

  --clr-font-primary: whitesmoke;
  --clr-font-accent: rgb(144, 184, 248);
  --clr-font-accent-2: rgb(95, 133, 219);

  --glow: 0px 0px 6px #87cefa; */
}

/* -----------------scrollbar----------------- */

* {
  scrollbar-width: thin;
  scrollbar-color: #87cefa #242424;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #242424;
}

*::-webkit-scrollbar-thumb {
  background-color: #87cefa;
  border-radius: 0.5rem;
  border: 10px double #ffffff;
}

body {
  margin: 0;
  padding: 0;
}
/* -----------------APP----------------- */

.App {
  height: 100svh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  background-color: var(--clr-primary-bg);

  /* -------FONT-------- */
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* -------BACKGROUND-------- */
  /* background-image: url("./assets/background.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; */
}

main > section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main > section > h2 {
  display: flex;
  position: absolute;
  right: 0.75rem;
  bottom: 0;
  font-size: clamp(1rem, 10vw, 4rem);
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  gap: 2rem;
  color: var(--clr-font-accent);
  text-shadow: var(--glow);

  hr {
    display: none;
  }
}

/* -----------------NAVBAR----------------- */

.navbar {
  display: flex;
  width: 100dvw;
  z-index: 100000;
  position: fixed;
  font-optical-sizing: auto;
  font-weight: 900;
  height: 4rem;
  padding-inline: 1rem;
  align-items: center;
}

.nav-logo-left {
  display: flex;
  align-items: center;
  flex: 5;
  /* border-right: 3px solid var(--clr-font-accent); */
  font-size: clamp(2rem, 2vw, 7rem);
  margin-right: 1rem;
}

.nav-logo-left a {
  user-select: none;
  text-decoration: none;
  text-shadow: var(--glow);
  color: var(--clr-font-accent);
}

.nav-items-right {
  display: flex;
  gap: 4rem;
  font-size: clamp(1rem, 1vw, 3rem);
  align-items: center;
  margin-inline: 2rem;
}

.nav-items-right a {
  user-select: none;
  text-decoration: none;
  color: var(--clr-font-primary);
  font-weight: 600;
  outline: 2px solid transparent;
  padding: 1rem;
}

.nav-items-right a:hover {
  user-select: none;
  color: var(--clr-font-accent);
}

/* ----------------- NAV TABLET AND BELOW---------- */

.hamburger-wrapper {
  display: none;
}

#hamburger-icon {
  display: none;
}

.nav-mobile-wrapper-open,
.nav-mobile-wrapper-closed {
  display: none;
}

/* ----------------- MEDIA Q---------- */

/* -----------------HOME----------------- */

.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  position: relative;
  justify-content: center;
  background-color: var(--clr-primary-bg);
  width: 100dvw;
}

.home-flex-1 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-inline: 2rem;
}

.greeting {
  font-size: clamp(1.3rem, 5vw, 2rem);
  font-weight: 500;
  user-select: none;
  opacity: 90%;
  letter-spacing: 0.1ch;
  word-spacing: -0.25ch;
  font-style: italic;
  opacity: 85%;
}

.name-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: left;
  user-select: none;
  font-size: clamp(2rem, 5vw, 4rem);
}

.name {
  display: flex;
  text-wrap: nowrap;
  font-size: clamp(1.9rem, 5vw, 4rem);
  /* background-color: var(--clr-primary-bg); */
  color: var(--clr-font-accent);
  font-weight: 800;
  text-shadow: var(--glow);
}

.name-titles {
  display: grid;
  gap: 1rem;
}

.home-wrapper hr {
  margin-block: 1rem;
  width: 90%;
}

.description {
  max-width: 32rem;
  line-height: 1.8rem;
  user-select: none;
  font-size: clamp(1rem, 5vw, 1.1rem);
  margin-block: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  /* background-color: var(--clr-secondary-bg); */
}

.description strong {
  font-weight: 600;
  color: var(--clr-font-accent);
  text-decoration: none;
}

.ctas-wrapper {
  display: flex;
  gap: 2rem;
  max-width: 400px;
  flex: 1;
  align-items: center;
  justify-content: left;
  user-select: none;
  height: 100%;
}

.cta,
.cta.CV {
  display: block;
  font-weight: 600;
  padding: 0.75rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.9rem, 0.5vw, 1rem);
  background-color: var(--clr-secondary-bg);
  color: var(--clr-font-accent);
  position: relative;
  border-color: transparent;
}

.cta {
  flex: 0.75;
  width: 100%;
}

.cta strong {
  color: var(--clr-font-accent);
}

.cta.CV {
  flex: 0.05;
}

.cta:hover {
  font-weight: 600;
  background-color: var(--clr-primary-bg);
  transition: all 2s ease-out;
  box-shadow: 0px 0px 0px rgba(131, 131, 131, 0.185);
}

.cta::before,
.CV::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0rem;
}

.cta:hover::before,
.CV:hover::before {
  animation: animateBeforeBorder 0.25s ease-in-out forwards;
}

@keyframes animateBeforeBorder {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border-top-color: var(--clr-font-accent);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--clr-font-accent);
  }
}

.cta::after,
.CV::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0.05rem;
}

.cta:hover::after,
.CV:hover::after {
  animation: animateAfterBorder 0.25s ease-in-out forwards;
}

@keyframes animateAfterBorder {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border-top-color: transparent;
    border-right-color: var(--clr-font-accent);
    border-bottom-color: var(--clr-font-accent);
    border-left-color: transparent;
  }
}

.home-wrapper .contact-links-wrapper {
  display: flex;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  gap: 1.3rem;
  flex: 1;
  p {
    display: none;
  }
}

.home-wrapper .contact-links-wrapper a {
  display: flex;
  background-color: var(--clr-primary-bg);
  align-items: center;
  color: var(--clr-font-accent);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.home-wrapper .contact-links-wrapper a:hover,
.home-wrapper .contact-links-wrapper a:focus {
  background-color: var(--clr-font-accent);
  color: var(--clr-primary-bg);
  font-weight: 900;
}

.home-wrapper .contact-links-wrapper svg {
  width: 2rem;
  height: 2rem;
}

#hero-img {
  position: absolute;
  opacity: 20%;
  left: 0;
  right: 0;
  top: 0;
  user-select: none;
  object-fit: cover;
}

/* -----------------PROJECTS----------------- */

.projects-wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  position: relative;
  justify-content: center;
  background-color: var(--clr-primary-bg);
  width: 100dvw;
}

#project-1 {
  grid-area: projectOne;
  img {
    filter: hue-rotate(180deg);
  }
}

#project-2 {
  grid-area: projectTwo;
}

#project-3 {
  grid-area: projectThree;
}

.projects-list {
  margin: 0 auto;
  display: grid;
  grid-template: "projectOne projectTwo projectThree";
  width: 85dvw;
  gap: 3rem;
  height: 80svh;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  padding-inline: 1rem;
}

.project-card {
  font-size: clamp(0.9rem, 0.5vw, 3rem);
  min-height: fit-content;
  /* gap: 2rem; */
  display: flex;
  flex-direction: column;
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex: 1;
  border-radius: 0.5rem 0.5rem 0 0;
}

.project-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 20rem;
  padding-block: 1rem;
  gap: 0.4rem;
  background: var(--clr-secondary-bg);
  padding-inline: 1rem;
  flex: 2;
  border-radius: 0 0 0.5rem 0.5rem;
}

.project-title {
  color: var(--clr-font-accent);
  font-size: x-large;
  font-weight: 500;
}

.project-description {
  display: flex;
}
.project-link-wrapper {
  display: flex;
  height: 100%;
  gap: 2rem;
  justify-content: left;
  height: 100%;
  font-size: larger;
  font-weight: 500;
  padding-block: 1rem;
}

.project-link-wrapper a {
  text-decoration: underline;
  text-align: center;
  color: var(--clr-font-accent);
}

/* -----------------ABOUT----------------- */
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-primary-bg);
  position: relative;
  overflow: hidden;
  height: 100svh;
}

.about-inner-wrapper {
  display: grid;
  grid-template:
    "headshot description"
    "headshot education"
    "languages languages"
    "libraries tools";
  text-align: left;
  gap: 1rem;
  text-wrap: pretty;
  font-size: clamp(0.85rem, 1vw, 0.89rem);
  line-height: 2.5ch;
  align-items: center;
  justify-content: center;
  place-items: center;

  width: 85dvw;
}

.headshot-img {
  display: flex;
  object-fit: contain;
  height: 21.2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 3px solid var(--clr-font-accent);
  grid-area: headshot;
}

.about-span {
  max-width: 25rem;
  min-width: 15rem;
  background: var(--clr-secondary-bg);
  border-radius: 0.5rem;
  padding: 1.2rem;
  grid-area: description;
  line-height: 3ch;
}

.about-span::first-letter {
  font-size: xx-large;
}

.education-wrapper {
  display: flex;
  border-radius: 0.5rem;
  background: var(--clr-secondary-bg);
  text-align: left;
  gap: 1rem;
  padding: 1.2rem;
  grid-area: education;
  max-width: 25rem;
  min-width: 15rem;
}

.education {
  display: grid;
  gap: 0.5rem;
}

.blue-text {
  color: var(--clr-font-accent);
  font-weight: 800;
}

.education-time-frame {
  opacity: 75%;
}

#languages {
  grid-area: languages;
}

#libraries {
  grid-area: libraries;
}

#tools {
  grid-area: tools;
}

.skills-card {
  display: flex;
  background: var(--clr-secondary-bg);
  list-style: none;
  border-radius: 0.5rem;
  padding: 1rem;
  align-items: center;
  gap: 2rem;
}

.skills-card h3 {
  display: flex;
  color: var(--clr-font-accent);
  font-size: large;
  border-right: 2px solid var(--clr-font-accent);
  padding-right: 1rem;
}

.skills-items ul {
  display: flex;
  gap: 1rem;
  align-content: center;
}

.skills-items li {
  background: rgba(0, 0, 0, 0.247);
  border: 2px solid var(--clr-primary-bg);
  display: grid;
  gap: 0.25rem;
  place-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* -----------------CONTACT----------------- */

.contact-full-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: var(--clr-primary-bg);
  position: relative;
  overflow: hidden;
}

.contact-inner-wrapper {
  display: flex;
  max-width: 85dvw;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  background-color: var(--clr-secondary-bg);
  border-radius: 1rem;
  padding: 2rem;
  h3 {
    display: flex;
    gap: 1rem;
  }
}

#connect-icon {
  height: 4rem;
  width: 4rem;
  color: var(--clr-font-accent);
}

.contact-full-wrapper .contact-links-wrapper {
  display: grid;
  align-items: center;
  gap: 1.3rem;
  overflow: hidden;
  p {
    color: var(--clr-font-primary);
    font-size: large;
    opacity: 80%;
    font-weight: 800;
  }
}

.contact-full-wrapper .contact-links-wrapper a {
  display: flex;
  text-decoration: none;
  color: var(--clr-font-accent);
  background-color: var(--clr-primary-bg);
  align-items: center;
  border-radius: 0.5rem;
  font-size: clamp(1.5rem, 20vw, 2rem);
  gap: 1rem;
  padding: 2rem;
  padding-right: 5rem;
}

/* -----------------FOOTER----------------- */

.footer-wrapper {
  height: 10svh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  /* background: var(--clr-primary-bg); */
  color: var(--clr-font-primary);
  text-align: center;
  user-select: none;
  pointer-events: none;
}

.footer-content {
  font-size: 0.75rem;
  opacity: 55%;
}

/* ----------------- MEDIA Q---------- */

@media (max-width: 1263px) {
  /* ----------------- PROJECTS---------- */
  .projects-list {
    display: grid;
    grid-template:
      "projectOne"
      "projectTwo"
      "projectThree";
    gap: 0;
    max-height: 80svh;
  }

  .project-card {
    display: flex;
    flex-direction: row;
    scale: 0.8;
    justify-content: center;
  }

  .project-card img {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .project-text-wrapper {
    flex: 2;
    height: 100%;
    padding: 1rem 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
  }

  .project-link-wrapper {
    align-items: flex-end;
  }

  .project-description {
    min-width: 15rem;
    max-width: 30rem;
  }
  /* ----------------- ABOUT---------- */
}

/* -----------------MOBILE---------- */

@media (max-width: 768px) {
  /* ----------------- NAV---------- */
  .navbar {
    padding: 0;
  }
  .nav-items-right {
    display: none;
  }

  .nav-logo-left {
    margin: 0;
    padding-left: 1rem;
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    margin-inline: 2rem;
  }

  #hamburger-icon {
    display: flex;
    height: 2rem;
    width: 2rem;
    color: var(--clr-font-primary);
  }

  .nav-mobile-wrapper-open {
    color: var(--clr-font-primary);
    display: flex;
    gap: 1.5rem;
    position: fixed;
    flex-direction: column;
    width: 100dvw;
    height: 100svh;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    z-index: 100;
    font-size: calc(1.5vw + 1.5vh);
    border: 2px solid var(--clr-font-accent);
    user-select: none;
  }

  .nav-mobile-wrapper-open a {
    text-decoration: none;
    color: var(--clr-font-primary);
  }

  .nav-mobile-wrapper-open a:focus {
    text-decoration: underline;
    color: var(--clr-font-primary);
  }

  .nav-mobile-wrapper-closed {
    display: none;
  }

  .nav-mobile-wrapper-open > hr {
    width: 55%;
  }

  /* ----------------- PROJECTS---------- */
  .projects-list {
    display: grid;
    grid-template:
      "projectOne"
      "projectTwo"
      "projectThree";
    gap: 0;
    padding: 0;
    margin: 0;
    width: 100dvw;
    place-content: center;
    place-items: center;
  }

  .project-card {
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(85svh / 3);
    border-radius: 0.5rem;
  }

  .project-card .project-title {
    z-index: 100;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-align: left;
    align-items: center;
    display: flex;
    backdrop-filter: blur(20px);
  }

  .project-text-wrapper {
    border-radius: 0.5rem;
  }

  .project-card img {
    outline: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }

  .project-card br {
    display: none;
  }

  .project-card:hover,
  .project-card:focus {
    img {
      visibility: hidden;
    }
    h3 {
      position: unset;
    }
    .project-description {
      padding: 0;
    }
    .project-text-wrapper {
      display: flex;
      width: 100%;
      justify-content: left;
      padding: 2rem;
      font-size: 1rem;
    }
    .project-link-wrapper {
      padding: 0;
      /* margin-top: 0.5rem; */
      margin: 0;
    }
  }

  /* ----------------- ABOUT---------- */
  /* .about-grid-top {
    align-items: center;
    flex-direction: column-reverse;
  }
  .about-grid-left {
    max-width: 65dvw;
  } */
}

/* -----------------MEDIA Q END----------------- */

/* @media screen and (max-width: 658px) and (orientation: landscape) {
  html {
    font-size: 55%;
  }
  .projects-list {
  }

  h3 {
    font-size: 30%;
  }

  .navbar {
    height: 10%;
  }
} */
